*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

#Custom ignores for Clips4Android
clipsAndroid/.externalNativeBuild
clipsAndroid/build
lCIECG/build
